body {
	margin: 0;
	margin-top: 0px;
	background-color: gray;
}

.banner {
	text-align: center;
}

.wrapper {
	width: 900px;
}

.wrapper {
	margin-top: -16px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	border-top:solid black;
	border-bottom:solid black;
	text-align: center;
	background-color: #2ECCFA;
}

.nav ul {
	display: inline;
	text-align: center;

}

.nav li {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 45px;
	text-align: center;
	display: inline;
	color:black;
}

a {
	text-decoration: none;
	color: black;
}

a:visited, a:active {
	color: black;
}

a:hover {
 color: black;
}
